<form role="form" method="POST" action="/users/upload" enctype="multipart/form-data">
    <input type="file" required="required" name="image" id="image" />
    <input type="submit" value="Upload" />
</form>